@import "compass";

// GLOBAL VARIABLES GO IN THIS STYLESHEET

// Associated Vertical
$vertical: verge; // sbn, verge, polygon

// Container
$container-padding: 10%;
$max-width: 70em;

// Navigation Bar Height
$nav-height: 44px;

// Iconography
$play-icon-links: true;
$play-icon-size: 30%;

// Breakpoints
$break_large: 1000px;
$break_medium: 700px;
$break_small: 400px;

// Colors
$primary: #2c7aa7;
$background: #fff;
$background-secondary: #f5f5f5;
$text: #555;
$black: #000;
$action-color: #2c7aa7;
$accent-color: #2c7aa7; 
$twitter: #55acee;
$facebook: #3b5998;
$googleplus: #dd4b39;
$nav-background: rgba(0,0,0,0.4);
$menu-gradientcolor-1: rgba(255,118,51,0.7);
$menu-gradientcolor-2: rgba(42,110,15,0.7);

// Typography
$headline-font: Helvetica, Arial, sans-serif;
$headline-weight: normal;
$paragraph-font: Helvetica, Arial, sans-serif;
$text-font: Helvetica, Arial, sans-serif;
$text-weight: normal;
$font-size: 16px;
$line-height: 1.5;

// Vox Media Logo (Footer)
$vox-logo: "vox-media-logo.png";

// Add custom fonts here
@import url("//hello.myfonts.net/count/2afb11");

// // univers light condensed  
// @font-face {
//   font-family: 'UniversLT-Condensed';
//   src: image-url('webfonts/2AFB11_0_0.eot');
//   src: image-url('webfonts/2AFB11_0_0.eot?#iefix') format('embedded-opentype'),
//        image-url('webfonts/2AFB11_0_0.woff') format('woff'),
//        image-url('webfonts/2AFB11_0_0.ttf') format('truetype');
// }

// Nav
$nav-color: #fff;
$nav-background: $primary;

// Sponsor logo (30px tall)
// must be in images dir
$sponsor-logo: "bp-invigorate-logo.png"; // white version of logo
$byline-sponsor-logo: "bp-invigorate-logo.png"; // color version of logo

@import "lib/svg";
@import "lib/footer";
@import "lib/slider";
@import "lib/parallax";
@import "lib/reset";
@import "lib/ooyala";
@import "lib/nav";
@import "lib/grid";
@import "lib/sections";
@import "lib/parallax";
@import "lib/figures";
@import "lib/content__social";
@import "lib/hamburger-menu";
@import "lib/next-clicks";