.work {

  h1, h2, h3, h4 {
    @include effra-bold;
  }

  p {
    margin: 1rem 0;
    line-height: 1.4;
  }

  blockquote {
    border-left: 2px solid $color-accent;
    padding-left: 1rem;
    line-height: 1.4;
    font-size: 0.95rem;
  }

  h1 {

  }

  h2 {
    font-size: 1.5rem;
    margin-top: 1.8rem;
    margin-bottom: 0.25rem;
  }

  h3 {

  }

  h4 {
    color: red;
  }
}

.work {
  &__piece {
    flex-basis: 32%;
    margin-bottom: 3.5rem;
    transition: 0.2s ease-in-out;
    @media (max-width: 700px) {
      display: block;
      flex-basis: 100%;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
  &__thumbnail {
    display: block;
    margin-bottom: 0.5rem;
  }
  &__piece-title {
    @include filson;
    &:hover {
      text-decoration: none;
      color: darken($color-accent, 40%);
    }
  }
  &__piece-org {
    display: block;
    font-size: 0.85rem;
  }
}
