@charset "utf-8";
@import "normalize";
@import "vars";
@import "utils";
@import "patterns";
@import "github";

body {
  background: #fff;
  @include lora;
}

img {
  max-width: 100%;
}

a, a:link, a:visited {
  color: $color-copy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code, p code {
  border: 1px solid lighten($color-gray, 30%);
  color: lighten($color-gray, 5%);
}

.content {
  min-height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    padding: 10px 20px;
  }
  &--skinny {
    max-width: 845px;
    margin: 0 auto;
  }
  &--skinniest {
    max-width: 665px;
    margin: 0 auto;
  }
}

// typography
h2 {
  @include filson;
  font-size: 42px;
}

time {
  font-style: italic;
  font-size: 14px;
  color: $color-gray;
}

// nav component
.c-nav {
  @include effra-bold;
  letter-spacing: 1pt;
  text-transform: uppercase;
  padding: 20px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 600px) {
      justify-content: center;
      text-align: center;
      padding: 5px 10px;
    }
  }
  &__title {
    position: relative;
    color: $color-copy;
    text-decoration: none;
    font-size: 20px;
    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
      height: 5px;
      z-index: -1;
      border-top: 3px solid $color-accent;
      transform: translateY(19px);
      transition: opacity 0.2s ease-in-out;
    }
    &:hover:before {
      opacity: 0;
    }
    & > a:hover {
      text-decoration: none;
    }
  }
  &__menu-wrapper {
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__menu-item {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    z-index: 0;
    a {
      color: $color-copy;
      text-decoration: none;
      position: relative;
      &:visited {
        color: $color-copy;
      }
      &:hover {
        text-decoration: none;
      }
      &:hover::after,
      &:focus::after {
        height: 3px;
        opacity: 1;
        transform: translateY(0px);
      }
      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: $color-accent;
        content: '';
        opacity: 0;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        transform: translateY(-10px);
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

// footer component
.c-footer {
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
  @include effra-bold;
  letter-spacing: 1pt;
  text-transform: uppercase;
}

// blog layout
.blog {
  article {
    h1 {
      @include filson;
      font-size: 42px;
      text-align: center;
      margin-bottom: 0;
    }
    p {
      @extend .p-paragraph;
    }
    a {
      font-weight: normal;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// articles
.c-articles {
  &__article {
    margin-bottom: 10px;
    a {
      border-bottom: 0;
    }
  }
}

// tags on a blog post
.category {
  @include effra-bold;
  font-size: 0.8em;
  text-transform: uppercase;
  a {
    text-decoration: none !important;
  }
  &__link {
    padding: 3px 5px;
    border-radius: 5px;
    background: $color-accent;
    &:hover {
      background: lighten($color-accent, 20%);
    }
  }
}

.flex-grid-container {
  &__row {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

.project {
  flex-basis: 48%;
  &__thumbnail {
    width: 100%;
    padding-top: 55%;
    background-size: cover;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
    &:hover {
      transform: translateY(-5px);
    }
  }
  &__name {
    text-align: center;
    @include effra-bold;
    text-transform: uppercase;
  }
}
