@charset "utf-8";
@import "normalize";
@import "vars";
@import "utils";
@import "patterns";

body {
  background: #fff;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    padding: 10px 20px;
  }
  &--skinny {
    max-width: 845px;
    margin: 0 auto;
  }
  &--skinniest {
    max-width: 665px;
    margin: 0 auto;
  }
}

// nav component
.c-nav {
  border-bottom: 5px solid $color-copy;
  @include effra-bold;
  letter-spacing: 1pt;
  text-transform: uppercase;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 500px) {
      justify-content: center;
    }
  }
  &__title {
    position: relative;
    color: $color-copy;
    text-decoration: none;
    font-size: 34px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 5px;
      z-index: -1;
      border-top: 4px solid $color-accent;
      transform: translateY(19px);
    }
    &:hover:before {
      opacity: 0;
    }
  }
  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__menu-item {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    z-index: 0;
    a {
      color: $color-copy;
      text-decoration: none;
      position: relative;
      &:visited {
        color: $color-copy;
      }
      &:hover::after,
      &:focus::after {
        height: 4px;
        opacity: 1;
        transform: translateY(0px);
      }
      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: $color-accent;
        content: '';
        opacity: 0;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        transform: translateY(-10px);
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

// footer component
.c-footer {
  background: $color-copy;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
  @include effra-bold;
  letter-spacing: 1pt;
  text-transform: uppercase;
}
.index, .work, .blog {
  .c-footer {
    display: none;
  }
}

// blog layout
.blog {
  article {
    h1 {
      font-family: "Lora", Georgia, serif;
      font-size: 50px;
      text-align: center;
    }
    p {
      @extend .p-paragraph;
    }
    a {
      @extend .p-link;
      border-bottom: 0;
      font-weight: normal;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// articles
.c-articles {
  &__article {
    margin-bottom: 10px;
    a {
      border-bottom: 0;
    }
  }
}
