@import "variables";

//-----------------------
//
// GENERAL STYLES
//
//-----------------------

//-----------------------
//
// TYPOGRAPHY
//
//-----------------------

//-----------------------
//
// VIDEO PAGES
//
//-----------------------
.article-info {
  z-index: 10008;
  text-align: center;
  margin: 17% auto !important;
  @media (max-width: 400px) {
    margin-top: 33% !important;
  }
  width: 60% !important;
  &.hidden {
    display: none;
  }
}

// video intro title block
.video-intro {
  background-color: $primary;
  text-align: center;
  color: #fff;
  padding: 5em 0;
  position: relative;
  h2 {
    color: #fff;
    font-family: $headline-font;
    text-transform: uppercase;
    letter-spacing: 0.5pt;
  }
  .subhead {
    -webkit-font-smoothing: antialiased;
    font-size: 1.2em;
  }
  @media (max-width: $break_small) {
    padding: 3em 0;
  }
}

//-----------------------
//
// MEDIA QUERIES
//
//-----------------------
@media (max-width: $break_small) {
  .category-home .article-info {
    margin-top: 35% !important;
  }

  .next_click {
    h3 {
      font-size: 1.3em;
    }
    p {
      font-size: 1em;
    }
  }
}

