<header class="c-nav">
  <div class="wrapper c-nav__wrapper">
    <h1 class="c-nav__title"><a href="/">Alisha Ramos</a></h1>
    <nav class="c-nav__menu-wrapper">
      <ul class="c-nav__menu">
        <li class="c-nav__menu-item">
          <a href="/about">About</a>
        </li>
        <li class="c-nav__menu-item">
          <a href="/work">Work</a>
        </li>
        <li class="c-nav__menu-item">
          <a href="/blog">Blog</a>
        </li>
        <li class="c-nav__menu-item">
          <a href="/writing">Writing</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
