<header class="c-nav">
  <div class="wrapper c-nav__wrapper">
    <h1><a href="/" class="c-nav__title">Alisha Ramos</a></h1>
    <nav>
      <ul class="c-nav__menu">
        <li class="c-nav__menu-item">
          <a href="/about">About</a>
        </li>
        <li class="c-nav__menu-item">
          <a href="/work">Work</a>
        </li>
        <li class="c-nav__menu-item">
          <a href="/blog">Writing</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
