<% wrap_layout :layout do %>
  <article class="wrapper--skinniest">
    <h1><%= current_page.data.title %></h1>
    <p>[insert work date here]</p>
    <%= yield %>

    <p>[insert work category here]</p>
    <p>[insert links to other work projects here]</p>
  </article>

  <div class="m-top center">
    <a class="p-link" href="/">Back home</a> / <a class="p-link" href="/blog">Back to blog</a>
  </div>
<% end %>
