---
title: Vox.com Year in Emoji app
date: December 4, 2014
blog: work
thumbnail: /images/vox-emoji.jpg
org: Vox Media
---

<p><a href="http://www.vox.com/a/emoji-year-in-review-2014">Visit the app.</a></p>
