---
title: Vox Creative Branded Content Experiences
date: April 25, 2015
blog: work
thumbnail: https://d13yacurqjgara.cloudfront.net/users/20699/screenshots/1869712/aloe_blacc_s_holiday_gift_guide.png
org: Vox Media
---

<p><i>Description and projects coming soon.</i></p>
