---
title: Vox.com Viz Work
date: January 25, 2015
blog: work
thumbnail: /images/rich-getting-richer.jpg
org: Vox Media
---

<h2>"The rich are getting richer in the US"</h2>
<em>Shown above. Collaboration with editor Matt Yglesias.</em>

<h2>Mapping the measles outbreak of 2014 with Julia Belluz</h2>
<p>Worked with editor Julia Belluz and Sarah Kliff on this piece, with some direction from video producer Joss Fong.</p>

<p><img src="/images/measles.jpg" /></p>

<p>Utilized QGIS and Mapbox to create map visualizations.</p>

<p><img src="/images/Map-Measles.jpg" /></p>

<p>Article link: <a href="http://www.vox.com/2015/1/29/7929791/measles-outbreak-2014">How an Amish missionary caused 2014's massive measles outbreak</a></p>


<h2>Misc. Viz Projects</h2>
<p>Yes, I made a chart about poop. Collaboration with editor Joseph Stromberg.</p>
<p><img src="/images/01-21-2014_Poop-Chart-v4.jpg" /></p>

<p><i>More descriptions and projects coming soon.</i></p>
