---
title: Heartful.ly
date: December 4, 2015
blog: work
thumbnail: /images/heartfully.jpg
---

<p>I led the rebrand and redesign of the <a href="http://heartful.ly">Heartful.ly</a> website and platform. Heartful.ly is a charitable wedding registry.</p>

<p>Heartful.ly has since won several awards and distinctions, including a Washington Post entrepreneurship competition, an exciting <a href="http://www.marthastewartweddings.com/600825/heartfully-registry-bloomerent-zola-michael-c-fina">Martha Stewart Weddings</a> mention, and the <a href="http://www.toryburchfoundation.org/fellows/finalists/">Tory Burch Foundation Fellows Competition</a>.
