---
title: Vox Media 2014 Year in Review
date: January 1, 2015
blog: work
thumbnail: /images/yir.jpg
org: Vox Media
---

<p><a href="http://www.voxmedia.com/a/year-in-review-2014">Visit the app.</a></p>
