---
title: Vox.com viz work
date: January 25, 2015
blog: work
thumbnail: /images/rich-getting-richer.jpg
org: Vox Media
---

<!--<p>Net worth piece:</p>

<p>Measles outbreak</p>
URL: http://www.vox.com/2015/1/29/7929791/measles-outbreak-2014

<p>Worked with Julia Belluz and Sarah Kliff on this, with some direction from Joss Fong.</p>


<p>01-21-2014_Poop-Chart-v4.jpg</p>

<p>/images/measles.jpg</p>-->

<p><i>Description and projects coming soon.</i></p>
