---
title: Vox Media Hymnal Publishing Platform
date: May 4, 2016
blog: work
thumbnail: https://d13yacurqjgara.cloudfront.net/users/20699/screenshots/2772936/dribbble-hymnal.png
org: Vox Media
---

<p>For the past two years, I've led product design and development on our proprietary custom display and native ad unit publishing platform, Hymnal.</p>

<p>I work with a small but mighty team on creating the best user experience possible on a platform that's a workhorse for the company's bottom line. I've had the pleasure of conducting several product design sprints with the team, guiding everything from wireframing to sketching to prototyping to testing the platform on users.</p>

<p><i>More coming soon.</i></p>
