---
title: Vox.com Serial Podcast Guide
date: May 3, 2016
blog: work
thumbnail: /images/serial-podcast-guide.jpg
org: Vox Media
---

<p>In just five days, we gathered a small group of writers, designers, and developers to swarm on a project idea for a podcast we were all passionate about.</p>

<p>The end result was an interactive audio piece that incorporated clips from the podcast and copy written to guide the reader around the episode. We produced a guide for every episode of the season.</p>

<p>Read the blog post about our process: <a href="http://product.voxmedia.com/2015/1/15/7417063/building-the-serial-podcast-guide-product-editorial-collaboration">Building the Serial podcast guide in five days: an exercise in product and editorial cross-collaboration magic</a>.</p>
