---
title: Vox Media Insights Analytics Platform
date: March 25, 2016
blog: work
thumbnail: https://d13yacurqjgara.cloudfront.net/users/20699/screenshots/2632045/screenshot_2016-04-04_21.35.03.png
org: Vox Media
---

<p>I led a small team to help redesign our analytics platform by establishing modular design patterns to help tell the story of a brand partner's performance through data.</p>

<p>One of the main challenges of the project was to establish design patterns that would work across all types of campaigns, while pulling out the most relevant pieces of the data story. We used a blend of data visualization and natural language summaries.</p>

<p><i>More coming soon.</i></p>
