---
title: The Verge Cover Story Treatment
date: May 3, 2016
blog: work
thumbnail: /images/DRIBBBLE_verge-1-up.png
org: Vox Media
---

<p>New 1-up hero branded design system flexible enough for various hed and subhed lengths as well as hero imagery.</p>
