---
title: Send.Dog
date: June 18, 2016
blog: work
thumbnail: /images/senddog.jpg
org: Vox Media
---

<p>Vox Product hackathon week project. We built a fun MMS bot that sends you daily dog gifs and photos, personalized to the time you'd like them to be sent.</p>

<p>Visit site: <a href="http://send.dog">send.dog</a></p>
