---
title: Alisha Ramos | Work
---

<h2 class="center">Work</h2>

<p class="center">Coming soon.</p>

<!--<div class="flex-grid-container">
  <div class="flex-grid-container__row">
  <% data.projectlist.each do |project| %>
    <div class="project">
      <a href="/work/<%= project.slug %>.html">
        <div class="project__thumbnail" style="background-image: url('/images/<%= project.thumbnail %>');">
        </div>
      </a>
      <a href="/work/<%= project.slug %>">
        <div class="project__name">
          <%= project.name %>
        </div>
      </a>
    </div>
  <% end %>
  </div>

</div>-->
