---
title: Alisha Ramos | Work
blog: work
---

<h2 class="center" style="margin-bottom: 40px;">Work</h2>

<div class="center">
  <p>Coming soon. :)</p>
  <!--<% blog('work').articles.each do |article| %>
    <div class="padded">
      <time><%= article.date.strftime('%b %e %Y') %></time><br />
      <a href="<%= article.url %>"><%= article.title %></a>
      <%# article.thumbnail %>
    </div>
  <% end %>-->
</div>

<div class="m-top center">
  <a class="p-link" href="/">Back home</a>
</div>
