.wrapper {
  padding: 0 2em;
}

.left, .right {
  padding: 1em 0;
}

.left {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  padding-right: 4em;
}

.right {
  display: inline-block;
  width: 60%;
}