---
title: Alisha Ramos | About
---
<div class="wrapper--skinniest">

  <img src="images/alisha-ramos.png" style="display: block; margin: 40px auto 30px auto; width: 343px;" />

  <div class="p-paragraph">
    <p>A child of the early 2000's, Neopets and Livejournal taught me how to code and design, and that's precisely what I do now. I'm currently a senior product designer at Vox Media based in Washington, D.C. building scalable, functional, and beautiful platforms.</p>

    <p>I enjoy: building what I design through code, learning new technologies, and hacking on zany ideas. I believe: that users always come first, engineers and designers should collaborate more, and that you shouldn't be afraid to show your work.</p>

    <p>Prior to designing, I was a brand strategy consultant in New York. I graduated from Harvard University with a degree in Sociology and History.</p>

    <p>Things I like: feminism, fashion, makeup, running, <i>Fixer Upper</i>, emoji. 🙋</p>

    <p>You can email me at <a href="mailto:alisha.ramos@voxmedia.com" class="p-link">alisha.ramos@voxmedia.com</a>.</p>
  </div>
</div>
