<h2 class="center" style="margin-bottom: 40px;">Blog Posts</h2>

<div class="center">
  <% blog.articles[0...5].each do |article| %>
    <div class="padded">
      <time><%= article.date.strftime('%b %e %Y') %></time><br />
      <a href="<%= article.url %>"><%= article.title %></a>
    </div>
  <% end %>
</div>
<div class="m-top center">
  <a class="p-link" href="/">Back home</a>
</div>
