---
title: Hello world
date: February 9, 2016
category: random
tags:
 - hello
 - adele
 - taylor
---

<h1>Hello this is a test blog</h1>

<p>THR reports that the collection of luxury items, totaling $200,000, also include vapes (but sorry Leo, there's no vaping in the theater), a year's worth of Audi car rentals, a walking tour in Japan, a trip to Israel sponsored by the Israeli government, personal training sessions, underarm sweat patches, fancy booze, and a "wearable" sex toy that debuted this year at CES.</p>

<p>But back to those vampire breast lifts: Fortunately, the process has nothing to do with cannibalizing oneself, and instead is simply shorthand for using one's own blood to increase firmness and tone. According to Express, doctors extract about 60 mL of blood from the arm, then placed in a centrifuge and re-inserted into the breasts.</p>

<p>Sadly, though, only 25 of the most famous nominees receive said gift bags, so if you notice any of them with remarkably more youthful-looking décolletage next year, you'll know what to thank.</p>
