---
title: Alisha Ramos
---
<p class="p-heading--h1">
  Hi. I'm a product designer at <a href="http://voxmedia.com">Vox Media</a> in Washington, D.C. I solve problems using design, code, and sometimes coffee.
</p>
