---
title: Alisha Ramos
---
<p class="p-heading--h1">
  Hi. I'm a product designer at <a href="http://voxmedia.com">Vox Media</a> in Washington, D.C. I solve problems using design, code, and sometimes coffee.
</p>

<div style="text-align: left; margin-top: 20px;">
  <a class="p-icon--group" href="http://github.com/alishalisha"><svg class="p-icon p-icon--group"><use xlink:href="#icon-github"/></svg></a>
  <a class="p-icon--group" href="http://twitter.com/alishalisha"><svg class="p-icon"><use xlink:href="#icon-twitter"/></svg></a>
  <a class="p-icon--group" href="mailto:alisha.ramos@voxmedia.com"><svg class="p-icon p-icon--group"><use xlink:href="#email"/></svg></a>
</div>
