---
title: Alisha Ramos
---
<p class="p-heading--h1">
  I work at the intersection of design, code, storytelling, and 💰.
</p>

<p class="p-paragraph" style="width: 650px; max-width: 100%; margin-bottom: 3rem;">Hi! I'm a Design Director at Vox Media and live in Washington, D.C. At Vox, I lead a small team of front-end designers who work with engineers to build products and platforms that help tell our brand partners' stories both on- and off-platform. <a href="/about">Read more about me.</a></p>

<div class="center">
  <div class="flex flex-space flex-wrap padded">
  <% blog('work').articles.take(3).each do |article| %>
      <div class="work__piece">
        <a href="<%= article.url %>"><img class="work__thumbnail" src="<%= article.data.thumbnail %>" /></a>
        <a class="work__piece-title" href="<%= article.url %>"><%= article.title %></a>
        <% if article.data.org.present? %>
        <% end %>
      </div>
  <% end %>
  </div>
</div>

<div class="flex flex-space flex-wrap">
  <div class="col-1-2">
    <p class="p-paragraph">📬 I write a weekly newsletter on mixed-race identity and other personal reflections called Mixed Feelings. <a href="http://tinyletter.com/mixedfeelings">Subscribe here</a>!</p>
  </div>
  <div class="col-1-2">
  </div>
</div>
